click
cycler
et-xmlfile
# mediapipe - NOT AVAILABLE for Python 3.13, and not used in codebase
filelock
Flask
flask-login
flask-sqlalchemy
imageio
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
opencv-python
Pillow
pyparsing
python-dateutil
pytz
PyWavelets
regex
scikit-image
scikit-learn
scipy
six
threadpoolctl
tifffile
torch
torchvision
tqdm
typing-extensions
Werkzeug
fastapi
huggingface-hub
albumentations
pandas
